//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 05 13:46:18 2020
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

