//! **************************************************************************
// Written by: Map P.20131013 on Sun Jun 07 21:58:47 2020
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

